@font-face {
    font-family: "campfire";
    src: url(./Campfire.ttf);
}

@font-face {
    font-family: "walk";
    src: url(./Walk-Around-the-Block.ttf);
}

@font-face {
    font-family: "gb5";
    src: url(./GB5WB1B.TTF);
}